.notification {
  position: fixed;
  bottom: 2rem;
  left: -50vw;
  transition: left 0.5s ease-in-out;
  max-width: 75vw;
  z-index: 100;
}

.notification.show {
  left: 2rem;
}

.notification.MuiAlert-root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notification.MuiAlert-root .MuiAlert-action {
  padding: 0;
  margin-right: 0;
}

.notification .MuiButtonBase-root.MuiIconButton-root {
  position: relative;
  color: #fff;
}

.notification .MuiButtonBase-root.MuiIconButton-root .MuiCircularProgress-root {
  position: absolute;
  color: #fff;
}
