.new-doctor .header {
  margin: 1rem 0;
}

.new-doctor .steps-components {
  margin-bottom: 3rem;
  min-width: 320px;
  overflow-x: auto;
}

.new-doctor .form .form-step-1 {
  display: grid;
  gap: 2rem;
}

.new-doctor .form .btn-group {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.new-doctor .form .form-step-2 .second-part {
  margin: 2rem 0;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

.new-doctor .form .form-step-2 .second-part .form-part {
  display: grid;
  gap: 1.4rem;
}

.new-doctor .form .form-step-2 .second-part .table-contact {
  max-height: 18rem;
  overflow-y: auto;
  border: 1px solid var(--mui-palette-TableCell-border, rgba(224, 224, 224, 1));
  border-radius: 0.4rem;
}

@media screen and (min-width: 768px) {
  .new-doctor .form .form-step-1 {
    padding: 0 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .new-doctor .form .form-step-2 {
    padding: 0 2rem;
  }

  .new-doctor .form .form-step-2 .first-part {
    display: grid;
    justify-content: center;
  }

  .new-doctor .form .form-step-2 .tranfer-list-component .transfer-list-column {
    width: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .new-doctor .form .form-step-1 {
    padding: 0 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .new-doctor .form .form-step-2 .tranfer-list-component .transfer-list-column {
    width: 20rem;
  }

  .new-doctor .form .form-step-2 .second-part {
    grid-template-columns: repeat(2, 1fr);
  }
}
