.list-doctor .header {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-doctor .header .btn {
  display: flex;
  gap: 0.4rem;
}

@media screen and (min-width: 425px) {
  .list-doctor .header {
    justify-content: space-between;
  }
}
