:root {
  font-family: roboto;

  --color-primary-100: #d0fcf9;
  --color-primary-200: #a2faf9;
  --color-primary-300: #71e7f0;
  --color-primary-400: #4ccce1;
  --color-primary-500: #19a7ce;
  --color-primary-600: #1283b1;
  --color-primary-700: #0c6394;
  --color-primary-800: #074677;
  --color-primary-900: #043362;

  --color-success-100: #ecfad0;
  --color-success-200: #d5f5a3;
  --color-success-300: #afe371;
  --color-success-400: #87c74a;
  --color-success-500: #56a31b;
  --color-success-600: #418c13;
  --color-success-700: #2f750d;
  --color-success-800: #1f5e08;
  --color-success-900: #144e05;

  --color-info-100: #ceeaff;
  --color-info-200: #9dd2ff;
  --color-info-300: #6db6ff;
  --color-info-400: #489cff;
  --color-info-500: #0c71ff;
  --color-info-600: #0857db;
  --color-info-700: #0640b7;
  --color-info-800: #032d93;
  --color-info-900: #021f7a;

  --color-warning-100: #fff5cd;
  --color-warning-200: #ffe99b;
  --color-warning-300: #ffd96a;
  --color-warning-400: #ffc945;
  --color-warning-500: #ffb007;
  --color-warning-600: #db9005;
  --color-warning-700: #b77203;
  --color-warning-800: #935702;
  --color-warning-900: #7a4301;

  --color-danger-100: #ffe6d5;
  --color-danger-200: #ffc7ab;
  --color-danger-300: #ffa181;
  --color-danger-400: #ff7d61;
  --color-danger-500: #ff422d;
  --color-danger-600: #db2420;
  --color-danger-700: #b71620;
  --color-danger-800: #930e21;
  --color-danger-900: #7a0822;

  --clr-primary-a0: #19a7ce;
  --clr-primary-a10: #4ab1d3;
  --clr-primary-a20: #67bad9;
  --clr-primary-a30: #80c4de;
  --clr-primary-a40: #97cee4;
  --clr-primary-a50: #add8e9;

  --clr-surface-a0: hsl(220, 9%, 100%);
  --clr-surface-a10: hsl(213, 22%, 92%);
  --clr-surface-a20: hsl(214, 14%, 90%);
  --clr-surface-a30: hsl(210, 3%, 87%);
  --clr-surface-a40: hsl(196, 12%, 82%);
  --clr-surface-a50: hsl(220, 9%, 87%);

  --clr-text-a0: #0b1524;
  --clr-text-a50: #3c474d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--clr-text-a0);
  background: var(--clr-surface-a0);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--clr-text-a0);
  text-transform: uppercase;
  line-height: 1.3;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--clr-text-a0);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-text-a0);
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text-a0);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--clr-text-a50);
}

a:active {
  color: var(--color-primary-500);
}

a:focus-visible {
  outline-color: var(--color-primary-500);
}

p {
  line-height: 1.6;
}

.main-container {
  margin-top: 5rem;
  padding: 0 1.4rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1025px) {
  .main-container {
    padding: 0 1.6rem;
  }
  .main-container.sidebar-close {
    margin-left: 4rem;
    transition: margin-left 0.2s ease-in-out;
  }
  .main-container.sidebar-open {
    margin-left: 13rem;
    transition: margin-left 0.2s ease-in-out;
  }
}
